In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\shajitha Banu\Downloads\archive (13)\tweets.csv")
df.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0

In [7]:
df.shape

(11370, 5)

In [10]:
df.drop(['keyword','location'],axis='columns',inplace=True)

In [11]:
df.tail()

          id                                               text  target
11365  11365  Media should have warned us well in advance. T...       0
11366  11366  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11367  11367  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11368  11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369  11369     Jake Corway wrecked while running 14th at IRP.       1

In [12]:
import re
import string

def clean_text(text):
    text=text.lower()
    text=re.sub(r'http\S+',' ',text)
    text=re.sub(f"[{string.punctuation}]"," ",text)
    text=re.sub(r'\d+','',text)
    return text

df['cleaned_text']=df['text'].apply(clean_text)
print(df['cleaned_text'].head())

0    communal violence in bhainsa  telangana   ston...
1    telangana  section  has been imposed in bhains...
2            arsonist sets cars ablaze at dealership
3          arsonist sets cars ablaze at dealership
4     lord jesus  your love brings freedom and pard...
Name: cleaned_text, dtype: object

In [14]:
#bow-converting raw text into numbers(vectors)

from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer(max_features=1000,ngram_range=(1,2))
X_bow=bow.fit_transform(df['cleaned_text'])
print("Bow shape:",X_bow.shape)
print("Some features:",bow.get_feature_names_out()[:10])

Bow shape: (11370, 1000)
Some features: ['about' 'about the' 'absolutely' 'accident' 'account' 'across' 'action'
 'actually' 'affected' 'after']

In [17]:
#tfidf
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(max_features=1000,ngram_range=(1,2))
X_tfidf=tfidf.fit_transform(df['cleaned_text'])
print("Tf-idf shape:",X_tfidf.shape)
print("Some features:",tfidf.get_feature_names_out()[:10])

Tf-idf shape: (11370, 1000)
Some features: ['about' 'about the' 'absolutely' 'accident' 'account' 'across' 'action'
 'actually' 'affected' 'after']

In [18]:
#ngram frequency

from collections import Counter
bigrams=CountVectorizer(ngram_range=(2,2)).fit(df['cleaned_text'])
bigram_counts=bigrams.transform(df['cleaned_text']).toarray().sum(axis=0)
bigram_freq=dict(zip(bigrams.get_feature_names_out(),bigram_counts))
print("top 10 bigrams:",Counter(bigram_freq).most_common(10))

top 10 bigrams: [('in the', 688), ('of the', 652), ('on the', 303), ('to the', 302), ('to be', 229), ('for the', 227), ('this is', 201), ('is the', 170), ('at the', 164), ('if you', 161)]