In [2]:
import pandas as pd

In [3]:
tickets = [
    "I can’t login to my Gmail account since yesterday.",
    "My iPhone 12 battery drains too fast.",
    "Payment failed while purchasing on Amazon.",
    "The new Tesla Model 3 software update is buggy.",
    "Can’t reset my password for LinkedIn account.",
    "My Netflix subscription is not working after payment.",
    "I received a wrong item from Flipkart order #12345.",
    "Spotify app crashes when I play music on Android.",
    "My bank account shows incorrect balance after transaction.",
    "Unable to connect to WiFi on my MacBook Pro."
]

In [5]:
df=pd.DataFrame({
    'ticket_id':range(1,len(tickets)+1),
    'text':tickets
})

print(df)

   ticket_id                                               text
0          1  I can’t login to my Gmail account since yester...
1          2              My iPhone 12 battery drains too fast.
2          3         Payment failed while purchasing on Amazon.
3          4    The new Tesla Model 3 software update is buggy.
4          5      Can’t reset my password for LinkedIn account.
5          6  My Netflix subscription is not working after p...
6          7  I received a wrong item from Flipkart order #1...
7          8  Spotify app crashes when I play music on Android.
8          9  My bank account shows incorrect balance after ...
9         10       Unable to connect to WiFi on my MacBook Pro.

In [6]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [7]:
#part of speech pos

def get_pos_tags(text):
    doc=nlp(text)
    return [(token.text,token.pos_)for token in doc]
df["pos_tags"]=df["text"].apply(get_pos_tags)
df[["ticket_id","text","pos_tags"]]

,ticket_id,text,pos_tags
0,1,I can’t login to my Gmail account since yester...,"[(I, PRON), (ca, AUX), (n’t, PART), (login, VE..."
1,2,My iPhone 12 battery drains too fast.,"[(My, PRON), (iPhone, PROPN), (12, NUM), (batt..."
2,3,Payment failed while purchasing on Amazon.,"[(Payment, NOUN), (failed, VERB), (while, SCON..."
3,4,The new Tesla Model 3 software update is buggy.,"[(The, DET), (new, ADJ), (Tesla, PROPN), (Mode..."
4,5,Can’t reset my password for LinkedIn account.,"[(Ca, AUX), (n’t, PART), (reset, VERB), (my, P..."
5,6,My Netflix subscription is not working after p...,"[(My, PRON), (Netflix, PROPN), (subscription, ..."
6,7,I received a wrong item from Flipkart order #1...,"[(I, PRON), (received, VERB), (a, DET), (wrong..."
7,8,Spotify app crashes when I play music on Android.,"[(Spotify, VERB), (app, NOUN), (crashes, NOUN)..."
8,9,My bank account shows incorrect balance after ...,"[(My, PRON), (bank, NOUN), (account, NOUN), (s..."
9,10,Unable to connect to WiFi on my MacBook Pro.,"[(Unable, ADJ), (to, PART), (connect, VERB), (..."

In [8]:
#name entity recognition ner

def get_named_ent(text):
    doc=nlp(text)
    return[(ent.text,ent.label)for ent in doc.ents]
df["named_entity"]=df["text"].apply(get_named_ent)
df[["ticket_id","text","named_entity"]]

,ticket_id,text,named_entity
0,1,I can’t login to my Gmail account since yester...,"[(Gmail, 380), (yesterday, 391)]"
1,2,My iPhone 12 battery drains too fast.,"[(12, 397)]"
2,3,Payment failed while purchasing on Amazon.,"[(Amazon, 383)]"
3,4,The new Tesla Model 3 software update is buggy.,"[(Model 3, 386)]"
4,5,Can’t reset my password for LinkedIn account.,"[(LinkedIn, 383)]"
5,6,My Netflix subscription is not working after p...,"[(Netflix, 384)]"
6,7,I received a wrong item from Flipkart order #1...,"[(Flipkart, 383), (12345, 391)]"
7,8,Spotify app crashes when I play music on Android.,"[(Spotify, 383), (Android, 383)]"
8,9,My bank account shows incorrect balance after ...,[]
9,10,Unable to connect to WiFi on my MacBook Pro.,"[(WiFi, 380), (MacBook Pro, 383)]"